@use "sass:math";
@use "../../../../../src/scss/variables";

$cardSpacer: 5px;
$zoomIndexs: variables.$card-zoom-indices;

$maxScreenWidth: 2160px;

.vui-card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: $cardSpacer * -1;
  margin-right: $cardSpacer * -1;

  &__card-wrapper {
    position: relative;
    width: 100%;
    padding: $cardSpacer;

    // Cards take up 100% width by default
    flex: 0 0 100%;
    max-width: 100%;

    .card {
      height: 100%;
      margin: 0;
    }
  }

  // Generate card widths
  @each $zoom, $maxCardWidth in $zoomIndexs {
    $maxCardWidthWidthPadding: $maxCardWidth + (2 * $cardSpacer);
    $zoomIndicesIn4k: math.ceil(
      math.div($maxScreenWidth, $maxCardWidthWidthPadding)
    );
    @for $i from 1 through $zoomIndicesIn4k {
      &--zoom-#{$zoom} &__card-wrapper {
        @media (min-width: #{$i * $maxCardWidthWidthPadding}) {
          flex: 0 0 math.div(100%, $i + 1);
          max-width: math.div(100%, $i + 1);
        }
      }
    }
  }
}
