@use "../../../../scss/variables";

$column-gap: variables.$column-gap;
$prefix: variables.$prefix;

.vui-card-release-data {
  display: flex;
  align-items: center;
  column-gap: $column-gap;
  margin-right: auto;
}
