@use "../../../../../src/scss/variables";

$prefix: variables.$prefix;

.vui-card-modal {
  &__body {
    grid-row: body-top / body-bottom;
  }

  &__footer-buttons {
    display: flex;
    gap: 5px;
  }

  .modal-content {
    overflow: hidden;
  }

  .modal-header {
    border-bottom: 0;
    overflow: hidden;
    flex-direction: column;
    padding: 0;
    align-items: center;
  }

  .modal-body {
    display: grid;
    grid-template-rows: [content-top top-line-top] auto [top-line-bottom title-top] auto [title-bottom body-top] 1fr [body-bottom content-bottom];
  }

  .modal-footer {
    justify-content: space-between;

    // Add spacing between icon and count, if there is one
    button {
      span {
        margin-left: 3px;
      }
    }
  }

  &__performer-section {
    ul {
      list-style: none;
      margin-bottom: 0;
      padding-left: 0;
    }

    li {
      display: flex;
      flex-direction: column;

      &:not(:last-child) {
        padding-bottom: 10px;
        border-bottom: 1px solid white;
        margin-bottom: 10px;
      }

      @media (min-width: 400px) {
        display: grid;
        grid-template-columns: [performer-section-start performer-section-item-image-start] 160px [performer-section-item-image-end performer-section-item-data-start] 1fr [performer-section-item-data-end performer-section-end];
      }
    }
  }

  &__performer-image-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;

    img {
      width: 160px;
    }
  }

  &__performer-disambiguation {
    display: block;
    font-size: var(--#{$prefix}-card-font-sm);
    margin-bottom: 3px;
    opacity: 0.8;
  }

  @media (min-width: 400px) {
    &__performer-data-wrapper {
      padding-left: 10px;
    }
  }

  @media (min-width: 992px) {
    .modal-dialog {
      max-width: var(--#{$prefix}-card-modal-max-width);
    }
  }
}
