@use "../../../../../src/scss/variables";

$column-gap: variables.$column-gap;
$prefix: variables.$prefix;

.vui-card-modal {
  &__body {
    margin-top: 10px;
    grid-row: body-top / body-bottom;
  }

  &__footer-buttons {
    display: flex;
    gap: 5px;
  }

  .modal-dialog {
    @media (min-width: 992px) {
      max-width: var(--#{$prefix}-card-modal-max-width);
    }
  }

  .modal-content {
    overflow: hidden;
  }

  &--full-height .modal-content {
    height: calc(100vh - 1rem);

    @media (min-width: 576px) {
      height: calc(100vh - 3.5rem);
    }
  }

  .modal-header {
    border-bottom: 0;
    overflow: hidden;
    flex-direction: column;
    padding: 0;
    align-items: center;
  }

  .modal-body {
    display: grid;
    grid-template-rows: [content-top top-line-top] max-content [top-line-bottom title-top] max-content [title-bottom body-top] max-content [body-bottom content-bottom];
  }

  .modal-footer {
    justify-content: space-between;

    // Add spacing between icon and count, if there is one
    button {
      span {
        margin-left: 3px;
      }
    }
  }

  /* ---------------------------------------------------------------------------------------------- */
  /*                                            Sections                                            */
  /* ---------------------------------------------------------------------------------------------- */

  &__file-info-section,
  &__gallery-section,
  &__performer-section,
  &__scene-section {
    & > ul {
      list-style: none;
      margin-bottom: 0;
      padding-left: 0;
    }

    & > ul > li {
      display: flex;
      flex-direction: column;

      &:not(:last-child) {
        padding-bottom: 10px;
        border-bottom: 1px solid white;
        margin-bottom: 10px;
      }
    }
  }

  &__gallery-section,
  &__performer-section,
  &__scene-section {
    & > ul > li {
      @media (min-width: 400px) {
        display: grid;
        grid-template-columns: [performer-section-start performer-section-item-image-start] 160px [performer-section-item-image-end performer-section-item-data-start] 1fr [performer-section-item-data-end performer-section-end];
      }
    }
  }

  &__gallery-image-wrapper,
  &__performer-image-wrapper,
  &__scene-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 5px;

    img {
      width: 160px;
    }
  }

  &__gallery-data-wrapper,
  &__performer-data-wrapper,
  &__scene-data-wrapper {
    @media (min-width: 400px) {
      padding-left: 10px;
    }
  }

  &__user-data {
    grid-column: user-data-start / user-data-end;

    display: flex;
    column-gap: $column-gap;
    opacity: var(--#{$prefix}-card-top-line-opacity);
  }

  /* -------------------------------------- File info section ------------------------------------- */

  &__file-info-section {
    .table {
      th,
      td {
        vertical-align: middle;
      }

      th {
        border-top: 0;
      }
    }

    .table-striped tr:nth-child(odd) td {
      background: none;
    }
  }

  /* --------------------------------------- Gallery section -------------------------------------- */

  &__gallery-data-wrapper {
    display: grid;
    grid-template-rows: [gallery-section-top top-line-top] max-content [top-line-bottom title-top] max-content [title-bottom key-data-top] max-content [key-data-bottom details-top] 1fr [details-bottom cast-crew-top] max-content [cast-crew-bottom gallery-section-bottom];

    h6 {
      grid-row: title-top / title-bottom;
      overflow-wrap: anywhere;
    }
  }

  /* -------------------------------------- Performer section ------------------------------------- */

  &__performer-disambiguation {
    display: block;
    font-size: var(--#{$prefix}-card-font-sm);
    opacity: 0.8;
  }

  &__performer-icons {
    display: flex;
    gap: 15px;
    margin-bottom: 3px;
  }

  &__performer-rating {
    svg {
      margin: 0;

      &:not(:last-child) {
        margin-right: 3px;
      }
    }
  }

  /* ---------------------------------------- Scene section --------------------------------------- */

  &__scene-data-wrapper {
    display: grid;
    grid-template-rows: [scene-section-top top-line-top] max-content [top-line-bottom title-top] max-content [title-bottom key-data-top] max-content [key-data-bottom details-top] 1fr [details-bottom cast-crew-top] max-content [cast-crew-bottom scene-section-bottom];

    h6 {
      grid-row: title-top / title-bottom;
      overflow-wrap: anywhere;
    }
  }
}
