@use "../../../../scss/variables";

$prefix: variables.$prefix;

.vui-card-title {
  &:hover {
    text-decoration: none;
  }

  h5 {
    color: var(--#{$prefix}-card-title-color);
    font-size: var(--#{$prefix}-card-title-font-size);
  }
}
