@use "../../../../scss/variables";

$prefix: variables.$prefix;

.vui-card-title {
  &:hover {
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--#{$prefix}-card-title-color);
    font-size: var(--#{$prefix}-card-title-font-size);
  }
}
