.valkyr-ui__scene-card-thumbnail {
  position: relative;

  &--scene .valkyr-ui__card-thumbnail-preview {
    aspect-ratio: 16 / 9;
  }
}

.valkyr-ui__scene-card-thumbnail-preview {
  display: flex;
  justify-content: center;
  position: relative;

  width: 100%;
  height: auto;

  img {
    height: 100%;
    object-fit: cover;
    object-position: top;
    width: 100%;
  }
}
