.vui-scene-card {
  &__thumbnail {
    position: relative;
  }

  &__thumbnail-preview {
    display: flex;
    justify-content: center;
    position: relative;

    height: auto;
    width: 100%;

    aspect-ratio: 16 / 9;

    img {
      height: 100%;
      object-fit: cover;
      object-position: top;
      width: 100%;
    }
  }
}
