.vui-scene-card {
  &__thumbnail {
    position: relative;
  }

  &__thumbnail-preview {
    display: flex;
    justify-content: center;
    position: relative;

    height: auto;
    width: 100%;

    aspect-ratio: 16 / 9;

    img {
      height: 100%;
      object-fit: cover;
      object-position: top;
      width: 100%;
    }
  }

  .vui-grid-card {
    &__body {
      display: grid;
      grid-template-rows: [scene-body-top key-data-top] auto [key-data-bottom details-top] 1fr [details-bottom scene-body-bottom];
    }
  }

  .vui-card-data {
    &__details {
      grid-row: details-top / details-bottom;
    }
  }
}
