@use "../../../../scss/variables";

$prefix: variables.$prefix;

.vui-grid-card {
  // Stop color from changing when hovering over minimal buttons.
  button.minimal:disabled {
    color: #f5f8fa;
  }

  .card-controls {
    align-items: center;
    display: flex;
    left: 0.5rem;
    position: absolute;
    top: 0.7rem;
    z-index: 1;
  }

  .card-check {
    height: 1.2rem;
    opacity: 0;
    width: 1.2rem;
    padding-left: 15px;

    &:checked {
      opacity: 0.75;
    }
  }

  &:hover .card-check {
    opacity: 0.75;
    transition: opacity 0.5s;
  }

  padding: 0;
  background-color: var(--#{$prefix}-card-bg);

  &--fileless {
    background-color: var(--#{$prefix}-card-fileless-bg);
  }

  &__content {
    display: grid;
    grid-template-rows: [content-top top-line-top] auto [top-line-bottom title-top] auto [title-bottom body-top] 1fr [body-bottom footer-top] auto [footer-bottom content-bottom];
    height: 100%;
    padding: 0.5rem 1rem;
  }

  &__body {
    grid-row: body-top / body-bottom;
  }

  &__footer {
    grid-row: footer-top / footer-bottom;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0.5rem;

    // Add spacing between icon and count, if there is one
    button {
      span {
        margin-left: 3px;
      }
    }
  }

  &__title {
    grid-row: title-top / title-bottom;
    overflow-wrap: anywhere;
  }
}

/* ---------------------------------------------------------------------------------------------- */
/*                                       Recommendation Row                                       */
/* ---------------------------------------------------------------------------------------------- */

.slick-slide .vui-grid-card {
  width: 320px;
}
