@use "../../../../scss/variables";

$prefix: variables.$prefix;

.vui-grid-card {
  padding: 0;
  background-color: var(--#{$prefix}-card-bg-color);

  &__content {
    display: grid;
    grid-template-rows: [content-top top-line-top] auto [top-line-bottom title-top] auto [title-bottom body-top] 1fr [body-bottom footer-top] auto [footer-bottom content-bottom];
    height: 100%;
    padding: 0.5rem 1rem;
  }

  &__body {
    grid-row: body-top / body-bottom;
  }

  &__footer {
    grid-row: footer-top / footer-bottom;

    display: flex;
    margin-top: 0.5rem;

    // Add spacing between icon and count, if there is one
    button {
      span {
        margin-left: 3px;
      }
    }
  }

  &__title {
    grid-row: title-top / title-bottom;
    overflow-wrap: anywhere;
  }
}
