@use "../../../../scss/variables";

$prefix: variables.$prefix;

.vui-card-data {
  &__performer-list {
    ul {
      display: inline;
      list-style: none;
      margin-bottom: 0;
      padding-left: 0;
    }

    li {
      display: inline;

      &::before {
        color: var(--#{$prefix}-body-color);
      }
    }

    &--overflow {
      li:nth-of-type(n + 1)::after {
        content: ", ";
      }
    }

    &:not(&--overflow) {
      li + li:last-child::before {
        content: " and ";
      }
    }

    li:nth-of-type(n + 2):not(:last-child)::before {
      content: ", ";
    }
    a {
      color: inherit;
    }
  }

  &__performer-list-item {
    &--female {
      color: var(--#{$prefix}-gender-color--female) !important;
    }
    &--intersex {
      color: var(--#{$prefix}-gender-color--intersex) !important;
    }
    &--male {
      color: var(--#{$prefix}-gender-color--male) !important;
    }
    &--nonbinary {
      color: var(--#{$prefix}-gender-color--nonbinary) !important;
    }
    &--transgender-female {
      color: var(--#{$prefix}-gender-color--transfemale) !important;
    }
    &--transgender-male {
      color: var(--#{$prefix}-gender-color--transmale) !important;
    }
    &--transgender-unknown {
      color: var(--#{$prefix}-gender-color--unknown) !important;
    }
  }
}
