@use "../../../../scss/variables";

$prefix: variables.$prefix;

.vui-card-data {
  &__performer-list {
    ul {
      display: inline;
      list-style: none;
      margin-bottom: 0;
      padding-left: 0;
    }

    li {
      display: inline;

      &::after,
      &::before {
        color: var(--#{$prefix}-body-color);
      }
    }

    &--overflow {
      li:nth-of-type(n + 1)::after {
        content: ", ";
      }
    }

    &:not(&--overflow) {
      li + li:last-child::before {
        content: " and ";
      }
      li:nth-of-type(n + 2):not(:last-child)::before {
        content: ", ";
      }
    }

    a {
      color: inherit;
    }
  }
}
