@use "sass:map";
@use "sass:math";
@use "../../../../src/scss/variables";

$column-gap: variables.$column-gap;
$prefix: variables.$prefix;
$zoomIndexs: variables.$card-zoom-indices;
$zoomThumbnailHeights: (
  0: 180px,
  1: 240px,
  2: 360px,
  3: 480px,
);

/* ---------------------------------------------------------------------------------------------- */
/*                                             Shared                                             */
/* ---------------------------------------------------------------------------------------------- */

.vui-gallery-card,
.vui-gallery-card-modal {
  .vui-card-top-line {
    display: grid;
    grid-template-columns: [top-line-start studio-start] 1fr [studio-end user-data-start] max-content [user-data-end top-line-end];
    column-gap: $column-gap;
    margin-bottom: 3px;
    font-size: var(--#{$prefix}-card-font-sm);
  }

  .vui-card-data {
    &__details {
      grid-row: details-top / details-bottom;
    }
  }
}

.vui-gallery-card {
  &__thumbnail {
    width: 100%;
  }

  &__thumbnail-cover {
    position: relative;

    img {
      height: auto;
      width: 100%;
      object-fit: contain;
    }

    &--blurred-bg {
      background-position: center;
      background-size: cover;

      img {
        backdrop-filter: blur(10px);
      }
    }
  }

  &__user-data {
    grid-column: user-data-start / user-data-end;

    display: flex;
    column-gap: $column-gap;
    opacity: var(--#{$prefix}-card-top-line-opacity);
  }

  .vui-grid-card {
    &__body {
      display: grid;
      grid-template-rows: [gallery-card-body-top key-data-top] auto [key-data-bottom details-top] 1fr [details-bottom cast-crew-top] auto [cast-crew-bottom gallery-card-body-bottom];
    }
  }
}

// Generate thumbnail heights for each zoom index
@each $zoom, $maxCardWidth in $zoomIndexs {
  $height: map.get(
    $map: $zoomThumbnailHeights,
    $key: $zoom,
  );

  .vui-card-grid--zoom-#{$zoom} .vui-gallery-card__thumbnail-cover img {
    height: $height;
  }
}

// Max thumbnail height for card modals and non-grid cards
.vui-gallery-card__thumbnail-cover img,
.vui-card-modal .vui-gallery-card__thumbnail-cover img {
  max-height: 480px;
}

/* ---------------------------------------------------------------------------------------------- */
/*                                           Card modal                                           */
/* ---------------------------------------------------------------------------------------------- */

.vui-gallery-card-modal {
  .vui-card-modal {
    &__body {
      display: grid;
      grid-template-rows: [gallery-card-modal-body-top key-data-top] auto [key-data-bottom details-top] 1fr [details-bottom cast-crew-top] auto [cast-crew-bottom gallery-card-modal-body-bottom];
    }
  }
}

/* ---------------------------------------------------------------------------------------------- */
/*                                       Recommendation Row                                       */
/* ---------------------------------------------------------------------------------------------- */

.slick-slide .vui-gallery-card {
  &__thumbnail-cover img {
    height: 240px;
  }
}
