@use "sass:map";
@use "sass:math";
@use "../../../../src/scss/variables";

$zoomBreakpoints: variables.$card-zoom-breakpoints;
$zoomThumbnailHeights: (
  0: 180px,
  1: 240px,
  2: 360px,
  3: 480px,
);

.vui-gallery-card {
  &__thumbnail-cover {
    position: relative;

    img {
      height: auto;
      width: 100%;
      object-fit: contain;
    }
  }
}

// Generate thumbnail heights for each zoom breakpoint
@each $zoom, $maxCardWidth in $zoomBreakpoints {
  $height: map.get(
    $map: $zoomThumbnailHeights,
    $key: $zoom,
  );

  .vui-card-grid--zoom-#{$zoom} .vui-gallery-card__thumbnail-cover img {
    height: $height;
  }
}

// Max thumbnail height for card modals
.vui-card-modal .vui-gallery-card__thumbnail-cover img {
  max-height: 480px;
}
