@use "sass:map";
@use "sass:math";
@use "../../../../src/scss/variables";

$column-gap: variables.$column-gap;
$prefix: variables.$prefix;

/* ---------------------------------------------------------------------------------------------- */
/*                                             Shared                                             */
/* ---------------------------------------------------------------------------------------------- */

.vui-gallery-card,
.vui-gallery-card-modal {
  .vui-card-top-line {
    display: grid;
    grid-template-columns: [top-line-start studio-start] 1fr [studio-end user-data-start] max-content [user-data-end top-line-end];
    column-gap: $column-gap;
    margin-bottom: 3px;
    font-size: var(--#{$prefix}-card-font-sm);
  }

  .vui-card-data {
    &__details {
      grid-row: details-top / details-bottom;
    }
  }
}

.vui-gallery-card {
  &__user-data {
    grid-column: user-data-start / user-data-end;

    display: flex;
    column-gap: $column-gap;
    opacity: var(--#{$prefix}-card-top-line-opacity);
  }

  .vui-grid-card {
    &__body {
      display: grid;
      grid-template-rows: [gallery-card-body-top key-data-top] auto [key-data-bottom details-top] 1fr [details-bottom cast-crew-top] auto [cast-crew-bottom gallery-card-body-bottom];
    }
  }
}

/* ---------------------------------------------------------------------------------------------- */
/*                                           Card modal                                           */
/* ---------------------------------------------------------------------------------------------- */

.vui-gallery-card-modal {
  .vui-card-modal {
    &__body {
      display: grid;
      grid-template-rows: [gallery-card-modal-body-top key-data-top] max-content [key-data-bottom details-top] max-content [details-bottom cast-crew-top] max-content [cast-crew-bottom gallery-card-modal-body-bottom];
    }
  }
}
