@use "sass:map";
@use "sass:math";
@use "../../../../../src/scss/variables";

$column-gap: variables.$column-gap;
$prefix: variables.$prefix;
$zoomIndexs: variables.$card-zoom-indices;
$zoomThumbnailHeights: (
  0: 180px,
  1: 240px,
  2: 360px,
  3: 480px,
);

/* ---------------------------------------------------------------------------------------------- */
/*                                             Shared                                             */
/* ---------------------------------------------------------------------------------------------- */

.vui-card-thumbnail {
  position: relative;
  width: 100%;

  &__image-wrapper {
    position: relative;

    img {
      width: 100%;
    }

    &--blurred-bg {
      background-position: center;
      background-size: cover;

      img {
        backdrop-filter: blur(10px);
      }
    }
  }

  &--simple-image &__image-wrapper {
    img {
      height: auto;
      object-fit: contain;

      // Max thumbnail height for card modals and non-grid cards
      max-height: 480px;
    }
  }

  &--video-preview &__image-wrapper {
    display: flex;
    justify-content: center;

    height: auto;
    width: 100%;

    aspect-ratio: 16 / 9;

    img,
    video {
      height: 100%;
      object-fit: cover;
      object-position: top;
    }

    video {
      position: absolute;
      z-index: -1;
      transition: z-index 0s;
      transition-delay: 0.2s;
    }
  }

  &--portrait {
    img,
    video {
      object-fit: contain;
    }
  }
}

// Generate thumbnail heights for each zoom index
@each $zoom, $maxCardWidth in $zoomIndexs {
  $height: map.get(
    $map: $zoomThumbnailHeights,
    $key: $zoom,
  );

  .vui-card-grid--zoom-#{$zoom}
    .vui-card-thumbnail--simple-image
    .vui-card-thumbnail__image-wrapper
    img {
    height: $height;
  }
}

/* ---------------------------------------------------------------------------------------------- */
/*                                       Recommendation Row                                       */
/* ---------------------------------------------------------------------------------------------- */

.slick-slide .vui-card-thumbnail {
  &__image-wrapper img {
    height: 240px;
  }
}
