@use "../../../../scss/variables";

$column-gap: variables.$column-gap;
$prefix: variables.$prefix;

.vui-card-key-data {
  grid-row: key-data-top / key-data-bottom;

  display: flex;
  flex-wrap: wrap;
  column-gap: $column-gap;
  margin-bottom: 5px;
  font-size: var(--#{$prefix}-card-font-sm);
}
